.container{
    width:  100%;
   min-height: 800px;
    /* border: 2px solid red ; */
    /* background-color: black; */
    /* color: white ;*/
  
  
  
}
.flexes
{
   display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 123px;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    
   
}
.flex2
{
    /* border:  2px solid red ; */
    list-style: none;
    width: 400px;
    text-align: center;
    /* text-align: center; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    
    
}
.img1
{
    width: 400px;
  text-align: center;
  border-radius: 12px;
 
}
img{
  width: 100%;
}
/* button{
      border: none;
     outline: none;
     width: 200px;
     padding: 8px;
      font-weight: bold;
      background-color: rgb(0, 80, 253);
      color: white;
      border-radius: 12px;
      margin-bottom: 12px;
      
}
      */
button:hover
{
  background-color: rgb(41, 41, 172);

} 

/* // i use inline css */

.super-hit{
  background-color: #7dcea0;
}
.avg{
  background-color: #d0d014;
}
.rating
{
  padding: 5px 9px ;
  border-radius: 100rem;
  /* width: 30px; */
  -webkit-border-radius:20rem ;
  -moz-border-radius:100rem ;
  text-align: center;
  color: black;
  margin-left:4px;
  -ms-border-radius:100rem ;
  -o-border-radius:100rem;
  
}
